<div id="run-method-form" title="Run method">
 
  <!-- <form> -->
    <fieldset>
      <div class="container">
	<label id="proc_file"></label><br>
	<!-- <div class="row" id = 'dcolumns'> -->
	<!--   <div class = "col"> -->
	<!--     <ul class="dlist"> -->
	<!--     </ul> -->
	<!--   </div> -->
	  <div class = "col">
	    <form id = "runmform"></form>
	  </div>
      </div>
       <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <!-- <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"> -->
      </div>
    </fieldset>
  <!-- </form> -->
</div>
